doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    // Bootstrap Core CSS
    link(href='/stylesheets/bootstrap.min.css', rel='stylesheet')
    // Custom CSS
    link(href='/stylesheets/sb-admin.css', rel='stylesheet')
    // Morris Charts CSS
    link(href='/stylesheets/plugins/morris.css', rel='stylesheet')
    // Custom Fonts
    link(href='/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    //- link(rel='stylesheet', href='/stylesheets/bootstrap-rtl.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-editable.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-datetimepicker.min.css')
  body
    block content
      block navigation
        nav#myNavmenu.navmenu.navmenu-default.navmenu-fixed-left.offcanvas(role='navigation')
          a.navmenu-brand(href='#') Brand
          ul.nav.navmenu-nav
            li.active
              a(href='#') Home
            li
              a(href='#') Link
            li
              a(href='#') Link
        .navbar.navbar-default.navbar-fixed-top
          button.navbar-toggle(type='button', data-toggle='offcanvas', data-target='#myNavmenu', data-canvas='body')
            span.icon-bar
            span.icon-bar
            span.icon-bar