doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/bootstrap-rtl.min.css')
    link(rel='stylesheet', href='/css/bootstrap-editable.css')
    link(rel='stylesheet', href='/css/bootstrap-datetimepicker.min.css')
    link(rel='stylesheet', href='/css/jumbotron-narrow.css')
  body
    block content
      block navigation
        nav.navbar.navbar-inverse.navbar-static-top